@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

body {

  background: -webkit-linear-gradient(right, #fff, #ADD8E6);
  font-family: 'Roboto', sans-serif;
}

section {
  margin: 50px;
}




/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}


h4{
    font-size: 30px;
    color: brown;
    text-transform: uppercase;
    font-weight: 600;
    text-align: left;
    margin-bottom: 10px;
    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
  table{
    width:100%;
    table-layout:fixed;
  }
  .tbl-header{
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid black;
   }
  .tbl-content{
    height:300px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid brown;
  }
  th.heading1{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 15px;
    color:white;
    text-transform: uppercase;
    width:25px;
    background-color: #34495e;
  }
  th.heading2{
    padding: 20px 15px;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    color:white;
    text-transform: uppercase;
    width:400px;
    background-color: #34495e;
    
  }
  th.heading3{
    padding: 20px 15px;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    color:white;
    text-transform: uppercase;
    background-color: #34495e;
  }
  th.heading4{
    padding: 20px 15px;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    color:white;
    text-transform: uppercase;
    background-color: #34495e;
  }
  th.heading5{
    padding: 20px 15px;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    color:white;
    text-transform: uppercase;
    background-color: #34495e;
  }
  th.heading6{
    padding: 20px 15px;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    color: white;
    text-transform: uppercase;
    background-color: #34495e;
  }

  td{
    padding: 15px;
    text-align: center;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    color: black;
    border-bottom: solid 1px rgba(255,255,255,0.1);
    border: 1px solid black;
  }
  
  
  /* demo styles */
  
 