{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {% static 'css/style.css' %} " >
    {% block cssfiles %}{% endblock cssfiles %}

    <link rel="icon" href="logo3.png">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <header> 
        <div class="banner">
            <div class="navigation_bar">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Plicies</a></li>
                    <li><a href="#">Menu</a></li>
                </ul>
                <button class="button"><span>Find Bed</span></button>
            </div>
        </div>
    </header> 

    {% block content %}{% endblock content %}
    

    
        
       
   
</body>
</html>