<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style1.css">
    <link rel="icon" href="logo3.png">
    <title>Your Code</title>
</head>
<body>
    <header>
        <div class="banner">
            <div class="navigation_bar">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Plicies</a></li>
                    <li><a href="#">Menu</a></li>
                </ul>
                <button class="button" onclick="window.open('https://www.cowin.gov.in/')"><span>Vaccine</span></button>
            </div>
        </div>
    </header> 
    <br>
    <center><h1 id="heading">Coronavirus (COVID-19) Prevention: 12 Tips and Strategies</h1></center>
    <br><br>
    <div class="iframeVideo">
        <iframe  width="560" height="315" src="https://www.youtube.com/embed/5DGwOJXSxqg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    
        
       
   
</body>
</html>