{% extends 'index.html' %}
{% load static %}

{% block title %}OxyHub{% endblock title %}

{% block content %}
<section class="home" id="home">
    <div class="image">
        <img src=" {% static 'oxygenCylinder/image/home-img.svg' %} " alt="">
    </div>
    <div class="content">
        <h3>Empowering People with the power of healing</h3>
        <p>Known for our expertise, chosen for our care</p>
        <a href="#" class="btn"> contact us <span class="fas fa-chevron-right"></span> </a>
    </div>
</section>

<!-- home section ends -->

<!-- icons section starts  -->

<section class="icons-container">

    <div class="icons">
        <i class="fas fa-user-md"></i>
        <h3>1000+</h3>
        <p>Daily Providers</p>
    </div>

    <div class="icons">
        <i class="fas fa-users"></i>
        <h3>1000+</h3>
        <p>satisfied Customers</p>
    </div>

    <div class="icons">
        <i class="fas fa-procedures"></i>
        <h3>500+</h3>
        <p>Bed Availability</p>
    </div>

    <div class="icons">
        <i class="fas fa-hospital"></i>
        <h3>800+</h3>
        <p>Oxygen Availability</p>
    </div>

</section>

<!-- icons section ends -->

<!-- services section starts  -->

<section class="services" id="services">

    <h1 class="heading"> our <span>services</span> </h1>

    <div class="box-container">

        <div class="box">
            <i class="fas fa-pills"></i>
            <h3>Oxygen Cylinder Facility</h3>
            <p>get the oxygen Availability data easily and book your cylinder according to your need. Click the link below and check out the available oxygen to your nearest location  </p>
            
            <a href=" {% url 'oxygen-page' %} " class="btn"> Book Oxygen Cyllinders <span class="fas fa-chevron-right"></span> </a>
        </div>
        <div class="box">
            <i class="fas fa-procedures"></i>
            <h3>Bed facility</h3>
            <p>Get the bed Availability data easily and book your bed according to your own suitability. Click The Link Below And Check Out The Available beds To Your Nearest Location</p>
            <a href=" {% url 'beds-page' %} " class="btn"> Book Hospital Beds <span class="fas fa-chevron-right"></span> </a>

    </div>

</section>

<!-- services section ends -->

<!-- about section starts  -->

<section class="about" id="about">
    <h1 class="heading"> <span>about</span> us </h1>
    <div class="row">
        <div class="image">
            <img src="{% static 'oxygenCylinder/image/about-img.svg' %}" alt="">
        </div>
        <div class="content">
            <h3>we provide oxygen and beds to those in need </h3>
            <p>Neev is a platform created with the view to bring an easy and more comfortable pathway to issue oxygen cylinders and ventilators in case of need.</p>
           
            <p>Here, you can find the beds and oxygen cylinders available at diiferent locations and can book a slot accoridng to your comfort sitting at your home. We have provided our uses the facility of checking  hospitals near a particular location all over india. You can either issue online or can call the selected clinic or hospital and ask for details manually.   </p>
            <a href="#" class="btn"> learn more <span class="fas fa-chevron-right"></span> </a>
        </div>
    </div>
</section>

<!-- about section ends -->

<!-- doctors section starts  -->



<section class="doctors" id="doctors">
    <h1 class="heading"> Team <span> NEEV </span> </h1>
    <div class="box-container" style="display:flex; justify-content:space-evenly">
        <div class="box" style="width:30rem;" >
            <img src=" {% static 'oxygenCylinder/image/gourav.jpg' %} " alt="">
            <h3>Gourav Kumar Singh  </h3>
            <span>Team Member </span>
            <div class="share">
            </div>
        </div>
        <div class="box" style="width:30rem;"  >
            <img src=" {% static 'oxygenCylinder/image/kaushik.jpeg' %} " alt="">
            <h3>Kaushik Dwivedi</h3>
            <span>Team Member </span>
            <div class="share">
            </div>
        </div>
        <div class="box" style="width:30rem;"  >
            <img src=" {% static 'oxygenCylinder/image/dee (2).jpg' %} " alt=""> 
            <h3>Harshita  Raghav</h3>
            <span>Team Leader </span>
            <div class="share">
            </div>
        </div>
<div class="box" style="width:30rem;"   >
            <img src="  {% static 'oxygenCylinder/image/mukul.jpg' %} " alt="">
            <h3> Mukul Updhyay </h3>
            <span>Team Member </span>
            <div class="share">
            </div>
        </div>
        <div class="box" style="width:30rem;"  >
            <img src=" {% static 'oxygenCylinder/image/mansii.jpg' %} " alt="">
            <h3>Mansi  Upreti </h3>
            <span>Team Member </span>
            <div class="share">
            </div>
        </div>
    </div>
</section>



<section class="review" id="review">
    <h1 class="heading"> REVIEWS </h1>
    <div class="box-container">
        <div class="box">
            <img src=" {% static 'oxygenCylinder/image/mad.jpg' %} " alt="">
            <h3>Anurag Tyagi </h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <p class="text">I am really happy that there is this amazing website which provide these kind of facilities and that also without any hustle and delay. The process is so smooth and can save many lives. Just select the location of your choice and do the bookings or even if you want you can contact the selected clinic or hospital.</p>
        </div>
        <div class="box">
            <img src=" {% static 'oxygenCylinder/image/hardik.jpg' %} " alt="">
            <h3>Tanveer Raza</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
               
            </div>
            <p class="text">Hey everyone!!! I recommend everyone to use this website if there is any need of oxygen cylinder or oxygen beds and I am saying this on the basis of my personal experience. Few months ago, I wanted a hospital bed on urgent basis for one of my family members. I was alone at that time and I didn’t had time to make a call to the hospitals and checking for the bed’s availability.  So, this website quickly stroked in my head and with on go I found a bed in one of the nearest hospitals.</p>
        </div>
        <div class="box">
            <img src=" {% static 'oxygenCylinder/image/bro.png' %} " alt="">
            <h3>Hardik Bansal</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              
            </div>
            <p class="text">This really helped me a lot. Few days ago, one of my relative urgently required the oxygen cylinder and one of my friend told me about this website. I browsed this website and it quickly gave details of all the nearest hospitals having supply of oxygen cylinders and I was able to arrange it. From that day I recommend everyone this website if there is such kind of need.</p>
        </div>
    </div>
</section>
<!-- 
review section ends


<!-- footer section starts  -->

<section class="footer">
    <div class="box-container">
        <div class="box">
            <h3>quick links</h3>
            <a href="#"> <i class="fas fa-chevron-right"></i> About </a>
            <a href="#"> <i class="fas fa-chevron-right"></i> Beds </a>
            <a href="#"> <i class="fas fa-chevron-right"></i> Oxygen </a>
            <a href="#"> <i class="fas fa-chevron-right"></i> reviews </a>
        </div>
        <div class="box">
            <h3>our services</h3>
            <a href="#"> <i class="fas fa-chevron-right"></i> bed facility  </a>
            <a href="#"> <i class="fas fa-chevron-right"></i> oxygen facility  </a>
            <a href="#"> <i class="fas fa-chevron-right"></i> blood donation  </a>
            <a href="#"> <i class="fas fa-chevron-right"></i> free checkup  </a>
        </div>
        <div class="box">
            <h3>contact info</h3>
            <a href="#"> <i class="fas fa-phone"></i> +91-7428621255 </a>
            <a href="#"> <i class="fas fa-phone"></i> +91-7017414967 </a>
            <a href="#"> <i class="fas fa-envelope"></i> harshitaraghav2001@gmail.com</a>
            <a href="#"> <i class="fas fa-envelope"></i> mukulupadhyaya2007@gmail.com </a>
        </div>

        <div class="box">
            <h3>follow us</h3>
            <a href=" "> <i class="fab fa-facebook-f"></i> facebook </a>
            
            <a href=" "> <i class="fab fa-twitter"></i> twitter </a>
            <a href="#"> <i class="fab fa-instagram"></i> instagram </a>
            <a href="#"> <i class="fab fa-linkedin"></i> linkedin </a>
        </div>

    </div>

    <div class="credit"> created by <span>Team Neev</span>  | all rights reserved </div>

{% endblock content %}


