 {% extends 'index.html' %}
 {% load static %}
 
    {% block title %}
    <title>Oxygen Cylinder</title>
    {% endblock title %}
    
    {% block cssfiles %}
   
    <link rel="stylesheet" href=" {% static 'oxygenCylinder/css/style.css' %} ">
    <link rel="stylesheet" href="{% static 'oxygenCylinder/css/table.css' %}">
    <link rel="stylesheet" href="{% static 'oxygenCylinder/css/button.css' %}">
    {% endblock cssfiles %}


{% block content %}

<section id="header-section">
  <h2 id="heading">Search for Oxygen Cylinders</h2>
  <br>
  <br>
  <table class="table1" height="30%" width="50%"> 
    <tr>
      <td width="50%">
      <div>State</div>
      <form  action=" {% url 'oxygen-page' %} " id="form-state" method="POST">
        {% csrf_token %}
        <div  class="dropdown-content">
          <select id="state-select" name="state"  class="dropbtn" >
            {% if not clickedstate %}
              <option  name="">Select State</option>
            {% endif %}
            {% for state in states %}
                {% if state.name == clickedstate %}
                  <option name="{{state.id}}" selected>{{state.name}}</option>
                {% else %}
                  <option name="{{state.id}}">{{state.name}}</option>
                {% endif %}
            {% endfor %}
          </select>
        </div>
      </form>
      </td>
      <td width="50%">
      <div>City</div>
      <form action="{% url 'oxygen-list' %}" id="form-city" method="POST">
        {% csrf_token %}
        <div class="dropdown-content">
          <select name="city" id="city-select" class="dropbtn" >

            {% if not clickedcity %}
              <option value="">Select City</option>
            {% endif %}

            {% for city in cities %}
                {% if city.name == clickedcity %}
                    <option value="{{city.id}}" selected>{{city.name}}</option>
                
                {% else %}
                    <option value="{{city.id}}">{{city.name}}</option>
                {% endif %}
            {% endfor %}
          </select>
        </div>
      </form>
      </td>
    </tr>
  </table>
</section>

<section class="table-section">
    <table class="content-table">
      <thead>
        <tr>
          <th class="heading1">S.No</th>
          <th class="heading2">Hospital Name</th>
          <th class="heading3">Email</th>
          <th class="heading4">Availabilty</th>
          <th class="heading5">Last Updated</th>
          <th class="heading4">Phone No</th>
          <th class="heading6">Booking</th>
        </tr>
      </thead>
      <tbody>
          {% if services %}
            {% for service in services %}
            {% if forloop.counter|divisibleby:"2" %}
                <tr class="active-row" id="beds-row" style="font-size:15px;">
              {% else %}
                  <tr class="active-row" id="beds-row" style="font-size:15px;">
            {% endif %}
            <div>
              <td>{{ forloop.counter }}</td>
              <td>{{service.name}}, {{service.address}}</td>
              <td><a href="mailto:{{service.email}}">{{service.email}}</a></td>
                <td style="font-weight: bold;">{{service.services.available_oxygen_cylinders}}</td>
                <td>{{service.services.last_updated}}</td>
                <td>{{ service.phone_number }}</td>
                <td>
                  {% if service.services.available_beds %}
                  <button class="button-17" role="button">Button 17</button>

                  {% else %}
                  <div id="notAvailable">
                    Not Available
                  </div>
                  {% endif %}
                </td>
            </div>
            </tr>
            {% endfor %}
          {% else %}
            <tr><div><td colspan="7">{{"No Data Found"}}</td></div></tr>
          {% endif %} 
        </tbody>
    </table>

</section>

{% endblock content %}




{% block scriptfiles %}
<script>
    var state_form = document.getElementById("form-state");
    var city_form = document.getElementById("form-city");
    var state_select = document.getElementById("state-select");
    var city_select = document.getElementById("city-select");
    let state = null;
    console.log(city_select, state_select);
    function onStateFormSubmit(){
        state = state_select.value;
        console.log(state)
        state_form.submit();
    }
    function onCityFormSubmit(){

        city_form.submit();
    }
    state_select.onchange = onStateFormSubmit;
    city_select.onchange = onCityFormSubmit;
</script>

<script src=" {% static 'oxygenCylinder/js/book.js' %} "></script>

{% endblock scriptfiles %}